.text {
    background-color: rgb(3, 19, 7);
    color: #fff;
    font-size: 7vw; 
    font-weight: bold;
    padding: 1%;
    text-align: center top;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
    flex-direction: column;
    margin-top: 8%;
  }
  .cd {
    background-color: #dadada;
    width: 19%;
    display: inline-block; 
    color: rgb(10, 10, 10);
    padding-left: 1.0em;
    max-height: 100%;
    justify-content: stretch;
    margin: .7em .5em 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cd:first-child {
    margin-left: .5em;
  }
  
  a.btngreen {
    background-color: #9f80c7; /* Green */
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 18px 24px;
    margin-top: -22%;
    display:inline;
    font-size: 1.3em;
    line-height:1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  a.btngreen:hover {
    text-decoration:none;
    color:#242426;
    cursor:pointer;
    text-decoration:underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .box {
    display: flex;
    background-color:transparent;width: 100%;
    flex-direction: column;
    margin-top: 35%;
    margin-bottom: -25%;
  }


.main{
  max-width: 1200px;
  margin: 0;
}

  
.bg{
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 8.3%;
}